/*

 -----tamaños de fuentes---
titulos: h1|40px|3.5em
subtitulo: h2|35px|2.8em
texto-big: 30px| 2.0em
texto-medio: 25px| 1.8em
----typografia----
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Gochi Hand', cursive;
*/

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Homemade+Apple|Permanent+Marker|Rock+Salt');
* {
    padding: 0;
    margin: 0;
}

.headerBg {
    background-image: url('../recursos/img10.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -260px;
    width: 100%;
    padding: 80px;
}

.headerBgModa {
    background-image: url('../recursos/img1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -260px;
    width: 100%;
    padding: 80px;
}

.headerBgActuales {
    background-image: url('../recursos/img2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -260px;
    width: 100%;
    padding: 80px;
}

.headerBgTips {
    background-image: url('../recursos/img3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -260px;
    width: 100%;
    padding: 80px;
}

.headerBgBlog {
    background-image: url('../recursos/img4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -260px;
    width: 100%;
    padding: 80px;
}
.headerBgLayout{
    background-image: url('../recursos/img5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -260px;
    width: 100%;
    padding: 80px; 
}

.headerText {
    font-family: 'Rock Salt', cursive;
    width: 350px;
    height: 150px;
    color: #3439CD;
    font-size: 5.2em;
    margin-left: 100px;
    text-shadow: 3px 4px 5px #7989CD;
}

.font-text {
    font-family: 'Gochi Hand', cursive;
    font-size: 1.4em;
}

.headerBg .headerText div {}


/* nav-bar*/


/*html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */


/*}
body {
    padding-top: 100px;
}
footer {
    padding: 30px 0;
}*/

.changePositionFixed {
    position: fixed !important;
}

.changePositionRelative {
    position: relative !important;
}


/*
 * Custom styles
 */

.navbar-fixed-top {
    position: relative;
}

.navbar-brand {
    font-family: 'Gochi Hand', cursive;
    font-size: 3.5em;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

.navbar-brand.fixed-theme {
    font-size: 28px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    color: grey;
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

span.icon-bar {
    border: 2px solid grey;
}

ul li a {
    color: grey;
}

footer {
    padding: 20px;
    color: grey;
    background-color: #D4D0C9;
    color: white !important;
}

.box {
    display: flex;
    flex-direction: column;
}

.boxLogo {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Rock Salt', cursive;
    width: 100%;
    height: 150px;
    color: #3439CD;
    font-size: 3.2em;
    text-shadow: 3px 4px 12px #7989CD;
}

.copyRight {
    text-align: center;
    font-size: 1em;
}

.linkFooter {
    padding-left: 100px;
    margin-top: 40px;
    font-size: 1.3em;
}


/*social*/

.social {}

.text-right li {
    display: inline-block;
    margin-left: 6px;
    margin-top: 10px;
    font-size: 1.4em;
}

.text-right li:hover {
    color: #D4D0C9;
}


/*article*/

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}

article {}

article.jumbotrom {
    padding: 0px;
}

article.jumbotrom h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 3.5em;
    margin-bottom: -20px;
}

.textType1 {
    color: #97A09A;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.8em;
    padding: 20px;
}


/*.articleLeft {
    margin: 0;
    padding: 0;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0, 0 0);
}

@-moz-document url-prefix() {
    .articleLeft {
        clip-path: url(#large-hex);
    }
}

.articleRight {
    margin: 0;
    padding: 0;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 0, 0% 0%);
}
*/

.articleTitleLeft h1 {
    margin-top: 100px;
    font-size: 8.0em;
    margin-left: -500px;
}

.articleTitleRight h1 {
    margin-left: 500px;
    margin-top: 70px;
    font-size: 7em;
}

.articleTitleDiv {
    font-family: 'Gochi Hand', cursive;
    width: 100%;
    height: 100px;
    color: white;
    justify-content: center;
    text-shadow: 2px 5px 15px grey;
    display: flex;
}

.articleTextDiv {
    z-index: 100;
}

.articleTextDiv p {
    font-family: 'Gochi Hand', cursive;
    font-size: 2.9em;
    margin-top: 120px;
    width: 420px;
    /* height: auto; */
    ;
    margin-left: 140px;
}

.icon-bar {
    color: grey !important;
}

.page-container img {
    height: 250px;
    width: 100%
}

.page-container div {
    padding: 10px;
}

.article-container img {
    height: 350px;
    width: 100%
}

.article-text-fecha {
    float: right !important;
}

.article-title h1 {
    margin: 0;
    margin-bottom: 10px;
}
.title-container{
    background-color: #3439CD;
    color: white;
    display: flex;
    align-items: center;
}
.title-container h1  {
    margin: 20px 30px;
    font-size: 2.5em;
  //*  text-shadow: 3px 4px 5px #7989CD;*/
    
}
.title-container h2{
    line-height: 0.8;
}


/*------------------*/

.textDivLeft {
    margin-left: -298px;
}

.imageArticle-left {
    position: relative;
    overflow: hidden !important;
}

.imageArticle-right {
    position: relative;
    overflow: hidden !important;
}

.imageArticle-left::before {
    position: absolute;
    border: solid transparent;
    border-width: 1000px;
    content: " ";
    height: 0;
    width: 0;
    left: 0px;
    transform: rotate(427deg);
    top: 60px;
    border-left-color: #FFF;
}

.imageArticle-right::before {
    position: absolute;
    border: solid transparent;
    border-width: 900px;
    content: " ";
    height: 0;
    width: 0;
    left: -914px;
    transform: rotate(472deg);
    top: 60px;
    border-left-color: #FFF;
    ;
}

.imageArticle1 {
    background-image: url('../recursos/img2.jpeg');
}

.imageArticle2 {
    background-image: url('../recursos/img3.jpeg');
}

.imageArticle3 {
    background-image: url('../recursos/img5.jpeg');
}

.imageArticle4 {
    background-image: url('../recursos/img9.jpeg');
}

.articlePosImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -145px;
    height: 400px;
}

.modal {
    background-image: url(../recursos/imgModa.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position-x: 85px;
    z-index: -100;
    /* justify-content: center; */
    /* align-content: center; */
}

.social-footer {
    visibility: hidden;
}


/* -------- Media Querys ----------*/

@media (max-width: 768px) {
    .social {
        visibility: hidden;
    }
    .social-footer {
        visibility: visible;
    }
    .text-right {
        text-align: center !important;
    }
    .imageArticle-left::before {
        transform: rotate(425deg);
        top: -150px;
        border: none;
    }
    .imageArticle-right::before {
        transform: rotate(475deg);
        left: -1080px;
        border: none;
    }
    .articleTitleLeft h1 {
        margin-left: 0px;
        margin-top: 60px;
        font-size: 7em;
    }
    .articleTitleRight h1 {
        margin-left: 0;
        margin-top: 80px;
        font-size: 6em;
    }
    .headerText {
        margin: 0 !important;
        width: 100% !important;
    }
    .articlePosImage {
        width: 100%;
        background-position-y: 0px;
        background-position-x: 0px;
        height: 230px;
    }
    .textDivLeft {
        margin-left: 0;
        margin: auto;
    }
    .textDivLeft p {
        margin-left: 0;
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: 2.3em;
    }
    .articleTextDiv p {
        width: 100%;
        margin: auto;
        font-size: 2.3em;
        text-align: center;
        height: auto;
        padding: 20px;
    }
    .order {
        display: inline-flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .headerBg, .headerBgLayout, .headerBgModa, .headerBgTips, .headerBgBlog,.headerBgActuales {
        background-position-y: 0;
    }
    .headerBg .headerText {
        font-size: 3em;
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .social-footer {
        visibility: hidden;
    }
    .imageArticle-left::before {
        transform: rotate(422deg);
        top: -90px;
    }
    .imageArticle-right::before {
        transform: rotate(477deg);
        left: -1000px;
    }
    .textDivLeft {
        box-sizing: border-box !important;
    }
    .textDivLeft p {
        margin-left: 0px;
    }
    .articleTitleLeft h1 {
        margin-left: -100px;
        margin-top: 50px;
        font-size: 5em;
    }
    .articleTitleRight h1 {
        margin-left: 260px;
        margin-top: 58px;
        font-size: 5em;
    }
    .articleTextDiv p {
        font-size: 2.4em;
        padding: 15px;
        text-align: center;
        margin-left: 70px;
    }
    .headerBg {
        background-position-y: -180px;
    }
    .headerBg .headerText {
        font-size: 4em;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .social-footer {
        visibility: hidden;
    }
    .imageArticle-left::before {
        border-width: 1018px !important;
        left: -200px !important;
        transform: rotate(426deg);
    }
    .imageArticle-right::before {
        left: -933px;
        transform: rotate(473deg);
    }
    .articleTitleLeft h1 {
        margin-left: -250px;
        margin-top: 80px;
        font-size: 6em;
    }
    .articleTitleRight h1 {
        margin-left: 380px;
        margin-top: 80px;
        font-size: 6em;
    }
    .articleTextDiv {}
}

@media (min-width: 1200px) {
    .social-footer {
        visibility: hidden;
    }
    .imageArticle-left::before {
        transform: rotate(427deg) !important;
        top: 60px!important;
    }
    .imageArticle-right::before {
        border-width: 900px;
        left: -830px;
        ;
        transform: rotate(472deg);
        top: 60px;
    }
}
